<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lin/bootstrap/css/bootstrap.theme.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div id="container" class="container">
        <h1>当前人数： <span id="count">0</span> </h1>
        <div class="messages">

        </div>
        <input type="text" class="form-control"/>
    </div>

    <script type="text/javascript" src="/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>