.mt10 {
  margin-top: 10px;
}
.mt150 {
  margin-top: 150px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
}
.messages {
  height: 300px;
  border: 1px solid #CCC;
  overflow: hidden;
  overflow-y: auto;
  margin: 10px 0;
}
.navbar {
  background-color: #1b76b5;
}
.navbar .container {
  height: 60px;
  line-height: 60px;
}
.navbar .container a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px 5px #333;
}
.navbar .container a:hover {
  text-decoration: underline;
}
.navbar .container .logo {
  float: left;
  display: inline-block;
}
.navbar .container .logo img {
  height: 60px;
  width: 60px;
  margin-top: -20px;
}
.navbar .container .logo a {
  display: inline-block;
  font-size: 28px;
  padding-left: 5px;
}
.navbar .container .logo a:hover {
  text-decoration: none;
}
.navbar .container .link {
  display: inline-block;
  float: right;
}
.navbar .container .link a {
  padding: 10px 15px;
}
.add-video {
  margin-top: 50px;
}
.add-video .progress {
  height: 15px;
  margin-top: 10px;
}
.add-video .progress .progress-bar {
  line-height: 15px;
}
.video-list {
  margin-top: 20px;
  list-style: none;
  font-size: 12px;
}
.video-list .detail {
  padding: 10px;
}
.video-list .detail div {
  line-height: 1.5em;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.video-js {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}
#info {
  font-size: 12px;
}
#info .panel-heading {
  overflow: hidden;
}
#info .list-group {
  padding: 0;
}
#info .list-group .list-group-item {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#video {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#video .barrage {
  white-space: nowrap;
  font-size: 14px;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  color: #fff;
  left: 100%;
  top: 0;
  display: inline-block;
  z-index: 2147483648;
}
#video.vjs-fullscreen {
  position: fixed;
}
#video.vjs-fullscreen .barrage {
  font-size: 24px;
}
